body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: #b89dc0;
  }
  
  .calculatorFrame {
    position: relative; /* Add position relative */
    display: flex;
    flex-direction: column; /* Set flex-direction to column */
    justify-content: center;
    align-items: center;
    background-color: rgb(78, 75, 75);
    width: 20rem;
    height: 25rem; /* adjust height as needed */
    border-radius: 1rem;
    border: solid;
    
  }
  
  .numberFrame {
    position: absolute; /* Add position absolute */
    top: .5rem; /* Position from top */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 179, 164);
    border: solid;
    width: 19rem;
    height: 4rem; /* adjust height as needed */
    border-radius: 1rem;
  }
  
  .displayNumbers {
    font-size: 2rem; /* adjust font size as needed */
    text-align: right;
    width: 100%; /* Add width 100% to fill the parent div */
    padding-right: 1rem; /* Add some padding to the right */
  }

  .topButtonContainer{
    display: flex; /* Use grid display */
    grid-gap: 0.5rem; /* Add gap between columns */
    justify-items: center; /* Center items horizontally */ /* Center items vertically */
    margin-top: 4rem;
  }

  .buttonContainer {
    display: grid; /* Use grid display */
    grid-template-columns: repeat(4, 1fr); /* Create 4 columns */
    grid-gap: 0.5rem; /* Add gap between columns */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-top: 1rem;
  }
  
  button {
    font-size: 1.5rem; /* Increase font size */
    width: 4rem; /* Use full width of grid cell */
    height: 3rem; /* Use full height of grid cell */
    border: solid;
    border-radius: 0.5rem;
    background-color: #ddd;
    cursor: pointer;
  }
  
  #topButtons{
    width: 8.55rem;
    color: black;
    
  }
  
  .clear {
    background-color: #f44336;
    color: white;
  }
  
  .back {
    background-color: #2196f3;
    color: white;
  }
  
  /* Add hover effect to buttons */
  button:hover {
    background-color: #7e3e92;
  }