.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: rgb(231, 159, 65);
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}


.gameContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.15rem solid black;
        padding: 2rem;
        gap: 2rem;
        border-radius: 1.5rem; /* round the corners */
        background-color: #ECEFF4;
        
}
.gameContainer img {
    width: 5rem;
    height: 5rem;
    
    
  }
  .gameInfo {
    position: absolute;
    top: 1rem; /* adjust this value to position the element */
    font-weight: bold;
    
    
}

.rock{
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid black;
  border-radius: 1.5rem; /* round the corners */
  background-color: #ffffff;
  
}
.paper{
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid black;
  border-radius: 1.5rem; /* round the corners */
  background-color: #ffffff;
}
.scissors{
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid black;
  border-radius: 1.5rem; /* round the corners */
  background-color: #ffffff;
}
.rock:hover,
.paper:hover,
.scissors:hover {
  background-color: #dddddd;
  /* replace #dddddd with the desired color */
}